/* Base styles for desktop */
.app-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background: var(--background);
    color: var(--primary-dark);
    min-height: 500px;
}

.app-dashboard h2 {
    font-size: 2em;
    margin: 0;
}

.dashboard-tabs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

.dashboard-tabs h1 {
    color: white;
    cursor: pointer;
    margin: 10px;
    font-size: 1.2em;
}

/* Media queries for mobile */
@media (max-width: 768px) {
    .app-dashboard {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .app-dashboard h2 {
        font-size: 1.5em; /* Reduce font size for smaller screens */
    }

    .dashboard-tabs {
        flex-direction: column; /* Stack tabs vertically */
        align-items: center;
    }

    .dashboard-tabs h1 {
        margin: 5px; /* Reduce margin for smaller screens */
        font-size: 1em; /* Adjust font size for smaller screens */
    }
}

/* Base styles */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.textarea-field {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    resize: vertical;
}

.file-field {
    margin-top: 5px;
}

.submit-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #45a049;
}
