.smartphone {
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  .speaker, .camera, .home-button, .side-button {
    fill: #fff;
  }

  .payment-widget {
    animation: slide-up 2s ease-out forwards;
  }

  .emoji {
    fill: #000;
  }

  @keyframes slide-up {
    from {
      transform: translateY(80px);
    }

    to {
      transform: translateY(0);
    }
  }
  